<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/default.css" >
</head>

<body>
<h3>Lançar promoção</h3>

<form action="/skjbdsifdkfndijfl" method="post">
	<table>
		<tr>
			<td><label>Promoção</label></td>
			<td><input type='text' name='titulo_livro'></td>
		</tr>

		<tr>
			<td cols='2'><input type="submit" value="Enviar"></td>
		</tr>
	</table>
</form>

</body>
</html>