<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/default.css" >
</head>

<body>
<h1>Listagem de produtos</h1>

<table>
	<tr>
		<th>Titulo</th>
		<th>Descricao</th>
		<th>Preco</th>
	</tr>
	
	<%for(var i=0; i<produtos.length; i++){%>
		<tr>
			<td><%= produtos[i].titulo %></td>
			<td><%= produtos[i].descricao %></td>
			<td><%= produtos[i].preco %></td>
		</tr>	
	<%}%>
</table>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="text/javascript">
	var ioCliente = io();
	ioCliente.on('promocao', function(dados){
		alert('Conheça também o livro ' + dados.titulo_livro);
	});
</script>

</body>
</html>